Repository bilalqtech/ismaywolff.nl: changes, and which lint-staged commands are due for each by the changed paths.
All: lintspaces -e ./.editorconfig -i 'js-comments' 'src/{client,server}/**/!(*.snap)*', prettier --print-width 100 --tab-width 2 --no-semi --single-quote --write, jest --bail --findRelatedTests, eslint, stylelint

Update devtools initialization (#443)
  src/shared/store.js
Due: lintspaces -e ./.editorconfig -i 'js-comments' 'src/{client,server}/**/!(*.snap)*', prettier --print-width 100 --tab-width 2 --no-semi --single-quote --write, jest --bail --findRelatedTests, eslint, stylelint

Inline css and revert inject global (#445)
  package.json
  src/client/index.css
  src/client/index.ejs
  src/client/index.jsx
  src/server/renderStatic.js
  src/server/templates/head.js
  src/server/templates/styles.js
  src/shared/components/root/__snapshots__/fonts.test.jsx.snap
  src/shared/components/root/__snapshots__/styles.test.jsx.snap
  src/shared/components/root/components/Root.jsx
  src/shared/components/root/fonts.js
  src/shared/components/root/fonts.test.jsx
  src/shared/components/root/styles.js
  src/shared/components/root/styles.test.jsx
  src/static/Bitter.woff
  src/static/Bitter.woff2
  src/static/CrimsonText.woff
  src/static/CrimsonText.woff2
  webpack.config.client.dev.js
  webpack.config.client.prod.js
  yarn.lock
Due: lintspaces -e ./.editorconfig -i 'js-comments' 'src/{client,server}/**/!(*.snap)*', prettier --print-width 100 --tab-width 2 --no-semi --single-quote --write, jest --bail --findRelatedTests, eslint, stylelint

Fix redux devtools (#448)
  src/shared/store.js
Due: lintspaces -e ./.editorconfig -i 'js-comments' 'src/{client,server}/**/!(*.snap)*', prettier --print-width 100 --tab-width 2 --no-semi --single-quote --write, jest --bail --findRelatedTests, eslint, stylelint

Load raven-js async (#449)
  src/client/index.ejs
  src/client/index.jsx
  src/server/renderStatic.js
  src/server/templates/sentry.js
Due: lintspaces -e ./.editorconfig -i 'js-comments' 'src/{client,server}/**/!(*.snap)*', prettier --print-width 100 --tab-width 2 --no-semi --single-quote --write, jest --bail --findRelatedTests, eslint, stylelint

Fix normalize.css (#452)
  package.json
Due: none

Replay errors when Raven is loaded (#453)
  src/client/index.ejs
  src/client/index.jsx
  src/server/renderStatic.js
  src/server/templates/catchErrors.js
  src/server/templates/inlineStore.js
Due: lintspaces -e ./.editorconfig -i 'js-comments' 'src/{client,server}/**/!(*.snap)*', prettier --print-width 100 --tab-width 2 --no-semi --single-quote --write, jest --bail --findRelatedTests, eslint, stylelint

Update server (#454)
  src/server/handleBots.jsx
  src/server/index.js
  src/shared/components/status/components/Status.jsx
  src/shared/components/status/components/Status.test.jsx
  src/shared/components/status/components/__snapshots__/Status.test.jsx.snap
  src/shared/components/status/index.js
  src/shared/scenes/Missing/__snapshots__/index.test.jsx.snap
  src/shared/scenes/Missing/index.jsx
Due: lintspaces -e ./.editorconfig -i 'js-comments' 'src/{client,server}/**/!(*.snap)*', prettier --print-width 100 --tab-width 2 --no-semi --single-quote --write, jest --bail --findRelatedTests, eslint, stylelint

Remove error event listener (#461)
  src/client/index.jsx
Due: lintspaces -e ./.editorconfig -i 'js-comments' 'src/{client,server}/**/!(*.snap)*', prettier --print-width 100 --tab-width 2 --no-semi --single-quote --write, jest --bail --findRelatedTests, eslint, stylelint

Fix writing margins (#463)
  src/shared/components/spacer/components/Spacer.jsx
  src/shared/components/spacer/components/Spacer.test.jsx
  src/shared/components/spacer/components/__snapshots__/Spacer.test.jsx.snap
  src/shared/components/spacer/index.js
  src/shared/scenes/Writing/components/WritingBody.jsx
  src/shared/scenes/Writing/components/__snapshots__/WritingBody.test.jsx.snap
Due: lintspaces -e ./.editorconfig -i 'js-comments' 'src/{client,server}/**/!(*.snap)*', prettier --print-width 100 --tab-width 2 --no-semi --single-quote --write, jest --bail --findRelatedTests, eslint, stylelint

Fix extra div (#466)
  src/shared/scenes/WorkDetail/__snapshots__/index.test.jsx.snap
  src/shared/scenes/WorkDetail/index.jsx
  src/shared/scenes/WritingDetail/__snapshots__/index.test.jsx.snap
  src/shared/scenes/WritingDetail/index.jsx
Due: lintspaces -e ./.editorconfig -i 'js-comments' 'src/{client,server}/**/!(*.snap)*', prettier --print-width 100 --tab-width 2 --no-semi --single-quote --write, jest --bail --findRelatedTests, eslint, stylelint

Add license to package.json (#468)
  package.json
Due: none

Update browserslist (#470)
  browserslist
Due: none

Add noscript tag to clientside template (#469)
  src/client/index.ejs
Due: lintspaces -e ./.editorconfig -i 'js-comments' 'src/{client,server}/**/!(*.snap)*'

Update logerror (#471)
  src/shared/services/raven/logError.js
Due: lintspaces -e ./.editorconfig -i 'js-comments' 'src/{client,server}/**/!(*.snap)*', prettier --print-width 100 --tab-width 2 --no-semi --single-quote --write, jest --bail --findRelatedTests, eslint, stylelint

Use native responsive images (#478)
  .eslintrc.js
  package.json
  src/shared/components/async/components/AsyncReactMeasure.jsx
  src/shared/components/async/components/AsyncReactMeasure.test.jsx
  src/shared/components/async/components/__snapshots__/AsyncReactMeasure.test.jsx.snap
  src/shared/components/async/index.js
  src/shared/components/images/components/ResponsiveThumbnail.jsx
  src/shared/components/images/components/ResponsiveThumbnail.test.jsx
  src/shared/components/images/components/ResponsiveZoomable.jsx
  src/shared/components/images/components/ResponsiveZoomable.test.jsx
  src/shared/components/images/components/Thumbnail.jsx
  src/shared/components/images/components/Zoomable.jsx
  src/shared/components/images/components/__snapshots__/ResponsiveThumbnail.test.jsx.snap
  src/shared/components/images/components/__snapshots__/ResponsiveZoomable.test.jsx.snap
  src/shared/components/images/components/__snapshots__/Thumbnail.test.jsx.snap
  src/shared/components/images/components/__snapshots__/Zoomable.test.jsx.snap
  src/shared/components/images/index.js
  src/shared/components/images/utils.js
  src/shared/components/images/utils.test.js
  src/shared/scenes/Work/components/WorkItem.jsx
  src/shared/scenes/Work/components/__snapshots__/WorkItem.test.jsx.snap
  src/shared/scenes/WorkDetail/components/WorkDetailBody.jsx
  src/shared/scenes/WorkDetail/components/__snapshots__/WorkDetailBody.test.jsx.snap
  yarn.lock
Due: lintspaces -e ./.editorconfig -i 'js-comments' 'src/{client,server}/**/!(*.snap)*', prettier --print-width 100 --tab-width 2 --no-semi --single-quote --write, jest --bail --findRelatedTests, eslint, stylelint

Update styled-components (#481)
  package.json
  yarn.lock
Due: none

Update eslint-plugin-compat (#483)
  package.json
  yarn.lock
Due: none

Move to .browserslistrc (#488)
  .browserslistrc
  browserslist
  yarn.lock
Due: none

Check if Raven wasn't blocked (#480)
  src/client/index.jsx
Due: lintspaces -e ./.editorconfig -i 'js-comments' 'src/{client,server}/**/!(*.snap)*', prettier --print-width 100 --tab-width 2 --no-semi --single-quote --write, jest --bail --findRelatedTests, eslint, stylelint

Update to arrow functions (#491)
  src/client/components/app/components/App.jsx
  src/client/components/app/components/AppWithErrors.jsx
  src/server/components/app/components/App.jsx
  src/shared/components/async/components/AsyncLoader.jsx
  src/shared/components/errors/components/AppError.jsx
  src/shared/components/errors/components/BootError.jsx
  src/shared/components/errors/components/MissingPageError.jsx
  src/shared/components/header/components/Header.jsx
  src/shared/components/images/components/Thumbnail.jsx
  src/shared/components/images/components/Zoomable.jsx
  src/shared/components/link/components/Link.jsx
  src/shared/components/navigation/components/Navigation.jsx
  src/shared/components/root/components/Root.jsx
  src/shared/components/routes/components/Routes.jsx
  src/shared/components/status/components/Status.jsx
  src/shared/components/title/components/DetailTitle.jsx
  src/shared/scenes/Work/components/__snapshots__/WorkItem.test.jsx.snap
  src/shared/scenes/WorkDetail/components/__snapshots__/WorkDetailBody.test.jsx.snap
Due: lintspaces -e ./.editorconfig -i 'js-comments' 'src/{client,server}/**/!(*.snap)*', prettier --print-width 100 --tab-width 2 --no-semi --single-quote --write, jest --bail --findRelatedTests, eslint, stylelint

Use withComponent (#492)
  src/shared/components/link/components/External.jsx
  src/shared/components/link/components/__snapshots__/External.test.jsx.snap
Due: lintspaces -e ./.editorconfig -i 'js-comments' 'src/{client,server}/**/!(*.snap)*', prettier --print-width 100 --tab-width 2 --no-semi --single-quote --write, jest --bail --findRelatedTests, eslint, stylelint

Update readme (#494)
  README.md
Due: none

Update browser support (#495)
  .browserslistrc
Due: none

Add contact info (#496)
  src/shared/scenes/About/__snapshots__/index.test.jsx.snap
  src/shared/scenes/About/index.jsx
Due: lintspaces -e ./.editorconfig -i 'js-comments' 'src/{client,server}/**/!(*.snap)*', prettier --print-width 100 --tab-width 2 --no-semi --single-quote --write, jest --bail --findRelatedTests, eslint, stylelint

SSR for all clients (#499)
  package.json
  src/client/index.ejs
  src/client/index.jsx
  src/server/getNeeds.js
  src/server/handleRender.jsx
  src/server/index.js
  src/server/renderStatic.js
  src/server/templates/globalCss.js
  src/server/templates/styles.js
  src/shared/components/header/components/__snapshots__/HeaderTitle.test.jsx.snap
  src/shared/components/images/reducer.js
  src/shared/components/images/utils.js
  src/shared/components/navigation/components/NavLink.jsx
  src/shared/data/articles/reducer.js
  src/shared/data/entities/reducer.js
  src/shared/data/works/reducer.js
  src/shared/scenes/About/index.jsx
  src/shared/scenes/Missing/index.jsx
  src/shared/scenes/Work/__snapshots__/index.test.jsx.snap
  src/shared/scenes/Work/components/WorkBody.jsx
  src/shared/scenes/Work/components/WorkItem.jsx
  src/shared/scenes/WorkDetail/components/WorkDetailBody.jsx
  src/shared/scenes/Writing/__snapshots__/index.test.jsx.snap
  src/shared/scenes/Writing/components/WritingBody.jsx
  src/shared/scenes/Writing/components/WritingItem.jsx
  src/shared/scenes/WritingDetail/components/WritingDetailBody.jsx
  src/shared/services/fetchy/fetchy.js
  src/shared/services/raven/logError.js
  webpack.config.client.prod.js
  yarn.lock
Due: lintspaces -e ./.editorconfig -i 'js-comments' 'src/{client,server}/**/!(*.snap)*', prettier --print-width 100 --tab-width 2 --no-semi --single-quote --write, jest --bail --findRelatedTests, eslint, stylelint

Update npm (#501)
  .travis.yml
  README.md
  package-lock.json
  yarn.lock
Due: none

Specify node version (#503)
  .babelrc
  .travis.yml
  Dockerfile
Due: none

Update eslint (#505)
  .eslintrc.js
Due: none

Add greenkeeper-lockfile (#506)
  .travis.yml
Due: none

Fix wrong quotation marks (#507)
  src/client/index.ejs
  src/server/templates/head.js
Due: lintspaces -e ./.editorconfig -i 'js-comments' 'src/{client,server}/**/!(*.snap)*', prettier --print-width 100 --tab-width 2 --no-semi --single-quote --write, jest --bail --findRelatedTests, eslint, stylelint

Update endpoints (#510)
  src/shared/components/markdown/components/Markdown.jsx
  src/shared/components/markdown/components/Markdown.test.jsx
  src/shared/components/markdown/components/__snapshots__/Markdown.test.jsx.snap
  src/shared/components/markdown/index.js
  src/shared/data/articles/actions.test.js
  src/shared/data/entities/reducer.js
  src/shared/data/entities/reducer.test.js
  src/shared/data/pages/actionTypes.js
  src/shared/data/pages/actions.js
  src/shared/data/pages/actions.test.js
  src/shared/data/pages/index.js
  src/shared/data/pages/reducer.js
  src/shared/data/pages/reducer.test.js
  src/shared/data/pages/schemas.js
  src/shared/data/pages/schemas.test.js
  src/shared/data/pages/selectors.js
  src/shared/data/pages/selectors.test.js
  src/shared/rootReducer.js
  src/shared/scenes/About/__snapshots__/index.test.jsx.snap
  src/shared/scenes/About/index.jsx
  src/shared/scenes/About/index.test.jsx
  src/shared/scenes/Work/components/WorkItem.jsx
  src/shared/scenes/Work/components/WorkItem.test.jsx
  src/shared/scenes/Work/components/__snapshots__/WorkItem.test.jsx.snap
  src/shared/scenes/WorkDetail/__snapshots__/index.test.jsx.snap
  src/shared/scenes/WorkDetail/components/WorkDetailBody.jsx
  src/shared/scenes/WorkDetail/components/WorkDetailBody.test.jsx
  src/shared/scenes/WorkDetail/components/__snapshots__/WorkDetailBody.test.jsx.snap
  src/shared/scenes/WorkDetail/index.test.jsx
  src/shared/services/endpoints/endpoints.js
Due: lintspaces -e ./.editorconfig -i 'js-comments' 'src/{client,server}/**/!(*.snap)*', prettier --print-width 100 --tab-width 2 --no-semi --single-quote --write, jest --bail --findRelatedTests, eslint, stylelint

Update raven-js (#519)
  src/client/index.jsx
Due: lintspaces -e ./.editorconfig -i 'js-comments' 'src/{client,server}/**/!(*.snap)*', prettier --print-width 100 --tab-width 2 --no-semi --single-quote --write, jest --bail --findRelatedTests, eslint, stylelint

Greenkeeper/prettier 1.4.1 (#514)
  .eslintrc.js
  package-lock.json
  package.json
  src/client/components/app/components/App.jsx
  src/client/components/app/components/AppWithErrors.jsx
  src/server/components/app/components/App.jsx
  src/shared/components/errors/components/AppError.jsx
  src/shared/components/errors/components/BootError.jsx
  src/shared/components/errors/components/MissingPageError.jsx
  src/shared/components/header/components/Header.jsx
  src/shared/components/navigation/components/Navigation.jsx
  src/shared/components/root/components/Root.jsx
  src/shared/components/routes/components/Routes.jsx
  src/shared/components/status/components/Status.jsx
  src/shared/components/title/components/DetailTitle.jsx
  src/shared/scenes/Missing/index.jsx
  src/shared/scenes/Work/components/WorkBody.jsx
  src/shared/scenes/Work/components/WorkItem.jsx
  src/shared/scenes/WorkDetail/components/WorkDetailBody.jsx
  src/shared/scenes/Writing/components/WritingBody.jsx
  src/shared/scenes/Writing/components/WritingItem.jsx
  src/shared/scenes/WritingDetail/components/WritingDetailBody.jsx
Due: lintspaces -e ./.editorconfig -i 'js-comments' 'src/{client,server}/**/!(*.snap)*', prettier --print-width 100 --tab-width 2 --no-semi --single-quote --write, jest --bail --findRelatedTests, eslint, stylelint

Update link styles (#522)
  src/shared/components/markdown/components/Markdown.jsx
  src/shared/components/markdown/components/__snapshots__/Markdown.test.jsx.snap
  src/shared/components/navigation/components/NavLink.jsx
  src/shared/components/navigation/components/__snapshots__/NavLink.test.jsx.snap
  src/shared/components/navigation/components/__snapshots__/Navigation.test.jsx.snap
  src/shared/scenes/WritingDetail/components/WritingDetailBody.jsx
  src/shared/scenes/WritingDetail/components/__snapshots__/WritingDetailBody.test.jsx.snap
  src/shared/styles.js
Due: lintspaces -e ./.editorconfig -i 'js-comments' 'src/{client,server}/**/!(*.snap)*', prettier --print-width 100 --tab-width 2 --no-semi --single-quote --write, jest --bail --findRelatedTests, eslint, stylelint

Update packages (#526)
  package-lock.json
  package.json
Due: none

Change manifest variable name (#528)
  src/server/templates/inlineManifest.js
  webpack.config.client.prod.js
Due: lintspaces -e ./.editorconfig -i 'js-comments' 'src/{client,server}/**/!(*.snap)*', prettier --print-width 100 --tab-width 2 --no-semi --single-quote --write, jest --bail --findRelatedTests, eslint, stylelint

Update manifest variable (#529)
  src/server/templates/inlineManifest.js
  webpack.config.client.prod.js
Due: lintspaces -e ./.editorconfig -i 'js-comments' 'src/{client,server}/**/!(*.snap)*', prettier --print-width 100 --tab-width 2 --no-semi --single-quote --write, jest --bail --findRelatedTests, eslint, stylelint

Update global webpack variable (#532)
  src/server/templates/inlineManifest.js
  webpack.config.client.prod.js
Due: lintspaces -e ./.editorconfig -i 'js-comments' 'src/{client,server}/**/!(*.snap)*', prettier --print-width 100 --tab-width 2 --no-semi --single-quote --write, jest --bail --findRelatedTests, eslint, stylelint

Path conditions:
  lintspaces -e ./.editorconfig -i 'js-comments' 'src/{client,server}/**/!(*.snap)*': any of: src/**/*
  prettier --print-width 100 --tab-width 2 --no-semi --single-quote --write: any of: src/**/*.{js,jsx}
  jest --bail --findRelatedTests: any of: src/**/*.{js,jsx}
  eslint: any of: src/**/*.{js,jsx}
  stylelint: any of: src/**/*.{js,jsx}
